<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aui/7.6.0/aui/css/aui.min.css" />
<style>
  body.addon {
    background-color: transparent;
    padding: 1em;
  }

  .poll-buttons {
    padding-top: 2em;
  }

  #poll, #create, #results {
    display: none; /* hide initially */
  }
</style>

<body class="addon">

<div id="poll">
  <h5 class="question"></h5>
  <form class="aui">
    <div class="radio">
        <input class="radio" id="answer1" type="radio" name="answer" data-index="0" />
        <label for="answer1"></label>
        <aui-badge></aui-badge>
    </div>
    <div class="radio">
        <input class="radio" type="radio" name="answer" id="answer2" data-index="1">
        <label for="answer2"></label>
        <aui-badge></aui-badge>
    </div>
    <div class="radio">
        <input class="radio" type="radio" name="answer" id="answer3" data-index="2">
        <label for="answer3"></label>
        <aui-badge></aui-badge>
    </div>
    <div class="radio">
        <input class="radio" type="radio" name="answer" id="answer4" data-index="3">
        <label for="answer4"></label>
        <aui-badge></aui-badge>
    </div>
    <div class="poll-buttons">
        <input class="aui-button aui-button-primary submit" type="submit" value="Vote!" />
    </div>
  </form>
</div>

<div id="create">
  <h5>Create a Poll</h5>

  <form class="aui top-label">
    <fieldset class="top-label">
      <div class="field-group top-label">
        <label for="question">Question</label>
        <input type="text" class="text" id="question" name="question" placeholder="When should this ship?" />
      </div>
      <div class="field-group top-label">
        <label for="response1">Answers</label>
        <input type="text" class="text" id="response1" name="answer" placeholder="v 1.0" />
      </div>
      <div class="field-group top-label">
        <input type="text" class="text" name="answer" placeholder="v 1.1" />
      </div>
      <div class="field-group top-label">
        <input type="text" class="text" name="answer" />
      </div>
      <div class="field-group top-label">
          <input type="text" class="text" name="answer" />
        </div>
    </fieldset>
    <div class="poll-buttons">
        <input class="button submit" type="submit" id="create-btn" value="Create" />
        <a class="cancel" href="#">Cancel</a>
    </div>
  </form>
</div>

<div id="results">
  <h5>Results</h5>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://connect-cdn.atl-paas.net/all.js" type="text/javascript"></script>
<script src="app.js"></script> 